@-webkit-keyframes androidbugfix{from{padding:0}
to{padding:0}
}
*{margin:0;padding:0;outline:none;}
/*body{display:block;max-width:650px;min-width:200px;margin:auto;position:relative;background:â€ª#â€f2f2f2â€¬;font-family:inherit;font-style:normal;font-size:12px;color:#595959;line-height:16px;overflow-x:hidden;-webkit-animation:androidbugfix infinite 1s;}*/
/*h1,h2,h3,h4,h5,h6{font-size:small;}
h1 a{color:#595959;}
h1 a:hover{text-decoration:none;}
a{text-decoration:none;color:â€ª#â€2CAAD3â€¬;transition:border .25s linear, color .25s linear, background-color .25s linear;}
a:hover{text-decoration:underline;}
.clearfix{clear:both;}
.pad,.tagcloud{padding:7px;}
.left{float:left;}
.right{float:right;}
.prefix{font-size:11.5px;background:hsl(127, 39%, 55%);color:hsl(0, 100%, 100%);padding:2px 2px;display:block;position:absolute;right:0;bottom:0;}
.readmore{background:â€ª#â€00ff00â€¬;margin-bottom:5px;}
.readmore a{display:block;font-weight:bold;text-decoration:none;}
.center-title{display:block;text-align:center;padding:7px;}
.green-title{background:â€ª#â€8dc63fâ€¬!important;text-align:center;color:#fff!important;font-weight:700!important;border-top-left-radius:4px;border-top-right-radius:4px;}
.margin5{margin:5px;}
form{background:#fff;margin:5px;}
header{text-align:center;padding:10px 0 15px 10px;color:#fff;background-image:url("http://i.imgur.com/zUKqdVL.jpg");}
#head-menu{background:green;font-family:cursive;font-weight:bold;border-bottom:1px solid #e2e2e2;}
#head-menu a,
#head-menu a:hover{color:#FFF;display:block;padding:10px;}
#head-menu li:hover a{background:â€ª#â€39C1EEâ€¬;text-decoration:none;}
article{position:relative;border-bottom:1px solid #e2e2e2;padding:7px;clear:both;background:#fff;}
article p{max-height:36px;display:block;overflow:hidden;line-height:18px;}
article a{color:#666;}
article a:hover{color:#2CAAD3;text-decoration:none;}
article:nth-child(even){background-color:â€ª#â€fcfcfcâ€¬;}
article:nth-child(odd){}
.photo{width:50px;float:left;margin:0 8px 0 0;height:50px;border-radius:19%;}
.format-story h2,
.format-thuthuat h2,
.format-audio h2,
.format-video h2,
h2 i{font-weight:300;}
.format-thuthuat a{background:url(assets/images/icon_thuthuat.png) no-repeat left;padding-left:20px;margin-right:4px;}
.format-story a{background:url(assets/images/icon_story.png) no-repeat left;padding-left:20px;margin-right:4px;}
.format-story h2{font-style:italic;}
.format-image img{width:100%;}
.format-image h2{margin:5px 0;}
.format-video a{background:url(assets/images/icon_video.png) no-repeat left;padding-left:20px;margin-right:4px;}
.format-audio a{background:url(assets/images/icon_mp3.png) no-repeat left;padding-left:20px;margin-right:4px;}
â€ª#â€breadcrumbsâ€¬,
.title{font-weight:700;color:#fff;background:#2CAAD3;padding:10px;cursor:default;display:block;}
#breadcrumbs a{color:#FFF;}
.infomation{position:relative;background:#fff;overflow:hidden;border-bottom:1px solid #e2e2e2;padding:7px;clear:both;}
.hreview-aggregate label,
.infomation label{font-weight:700;}
.average span{text-indent:-9000px;}
â€ª#â€videoâ€¬-player{border-top:1px solid #e2e2e2;position:relative;padding-bottom:56.25%;padding-top:25px;height:0;margin-bottom:20px;}
#video-player iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#mp3-player{padding-top:10px;padding-bottom:10px;}
audio{width:100%;}
#content{border-top:1px solid #e2e2e2;line-height:20px;background:#fff;}
#content p{margin-bottom:10px;}
#content img{max-width:100%;height:auto;display:block;margin-left:auto;margin-right:auto;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);}
#content ul,
ol{margin:0 20px;}
#content h2{font-size:14px;}
#wp_page a{background:#7e7e7e;padding:5px 15px;color:#fff;text-decoration:none;}
#wp_page a:hover{background:#1EB353;box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.31), 0 1px 0 rgba(255, 255, 255, 0.8);}
#wp_page .current{box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.31), 0 1px 0 rgba(255, 255, 255, 0.8);padding:5px 15px;color:#fff;background:#1EB353;}
.content-bottom{background:#fff;border-top:1px solid #eee;}
nav ul, .content-bottom ul{display:table;list-style:none;width:100%;table-layout:fixed;}
#head-menu li,
.content-bottom > ul > li{vertical-align:middle;display:table-cell;text-align:center;}
.content-bottom > ul > li{border-right:1px solid #EEEEEE;}
.content-bottom > ul > li:last-child{border:none;}
.content-bottom ul > li > a{text-decoration:none;padding:8px 3px;display:block;}
.content-bottom > ul > li:hover{background:#f2f2f2;transition:border .25s linear, color .25s linear, background-color .25s linear;}
.hreview-aggregate{overflow:hidden;background:#fff;border-top:1px solid #e2e2e2;padding:7px;}
.details{padding:0 !important;border-bottom:0 !important;}
.details .timeline{width:100%;}
.fun-story p,
.comment p,
.details p{max-height:none !important;}
.rating{margin-bottom:10px;}
span.post-large-rate{width:100px;display:block;height:22px;background-position:left bottom;background-repeat:no-repeat;}
span.post-large-rate span{width:100%;display:block;height:22px;background-position:left top;background-repeat:no-repeat;float:left;}
span.stars-large,
span.stars-large span{background-image:url(assets/images/stars-large.png);}
.post-single-rate{float:left;margin-right:5px;}
.user-rate{float:right;width:98px;}
.user-rate-wrap .user-rating-text{float:left;}
.user-rate-active span.post-large-rate span{cursor:pointer;}
.taq-load{background:url(assets/images/ajax-loader.gif) no-repeat center;width:98px;height:22px;display:block;}
.search-input{background:url(assets/images/search.png) no-repeat 99% 50% #fff;}
.search-button{width:15%;height:30%;padding:5px 10px;}
input,
textarea{width:100px;box-sizing:border-box;border:2px solid #ccc;border-radius:2px;font-size:12px;background-color:white;background-image:url('searchicon.png');background-position:5px 5px;background-repeat:no-repeat;padding:5px 10px 5px 20px;-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out;}
input[type=text]:focus{width:80%;}
button{background:#61cf81;padding:5px 10px;border:0;color:#fff;cursor:pointer;transition:border .25s linear, color .25s linear, background-color .25s linear;}
button:hover{background:#1EB353;box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.31), 0 1px 0 rgba(255, 255, 255, 0.8);}
.gsc-input{box-shadow:none !important;}
#___gcse_0{border-bottom:1px solid #e2e2e2;}
.download{max-width:350px;line-height:28px;color:#FFF;text-align:center;display:block;margin-left:auto;margin-right:auto;background:#00a1cb;font-size:15px;padding:0 25px;border-radius:3px;}
.download:hover{background:#00b5e5;text-decoration:none;}
.icon_download{background:#61cf81;border-radius:1px;float:right;padding:2px 10px;color:#fff;text-transform:uppercase;}
.icon_download:hover{background:#1EB353;text-decoration:none;color:#fff;}
.icon_view{background:url(assets/images/icon_view.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.icon_phone{background:url(assets/images/icon_ponhe.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.icon_user{background:url(assets/images/icon_user.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.icon_comment{background:url(assets/images/icon_comment.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.multi-download{max-width:350px;margin-left:auto;margin-right:auto;margin-bottom:5px;border:#8dc63f solid 1px;border-top:0;border-top-left-radius:4px;border-top-right-radius:4px;}
.multi-download ul{margin:0!important;}
.multi-download li{padding:4px 10px!important;}
.multi-download p{margin-bottom:0 !important;}
.multi-download a{color:#2CAAD3!important;}
.bonobo_widget{margin-bottom:10px;border:1px solid #e2e2e2;overflow:hidden;padding:15px;line-height:21px;text-align:center;}
.bonobo_widget .city_title{font-size:18px;font-weight:bold;}
.bonobo_widget .{text-align:center;padding-top:10px;padding-bottom:17px;}
.bonobo_widget .temperature{font-size:24px;padding-bottom:17px;}
.bonobo_widget .desc{list-style:none;}
.bonobo_widget .desc li{list-style:none !important;line-height:1em !important;}
.bonobo_widget .left_navigation{float:left;width:24px;padding-right:4px;}
.bonobo_widget .right_navigation{float:right;width:24px;padding-left:4px;}
.bonobo_widget .invisible{display:none;}
.bonobo_widget .date{font-size:12px;font-style:italic;}
.bonobo_widget .number_date{font-weight:lighter;}
.bonobo_widget img{box-shadow:none !important;}
footer{border-top:#253444 solid 3px;text-align:center;color:#fff;background:#99d6f9;background:radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .15) 30%, rgba(255, 255, 255, .3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .1) 11%, rgba(255, 255, 255, .3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 17%, rgba(255, 255, 255, .43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 11%, rgba(255, 255, 255, .4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 11%, rgba(255, 255, 255, .4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .1) 11%, rgba(255, 255, 255, .2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #79C7EE 20%, #99d6f9 100%);background-size:100px 100px, 470px 470px, 210px 210px, 310px 310px, 230px 230px, 530px 530px, 100% 100%;}
footer a{color:#fff;}
.nav_menu ul li{border-bottom:1px solid #e2e2e2;font-size:13px;padding:8px 35px 8px 8px;list-style:none;background:#fff;}
.nav_menu a{text-decoration:none !important;color:#666;}
.nav_menu a:hover{color:#2CAAD3;}
.count{background:#39C1EE;color:#fff;padding:1px 10px;}
#nav-check{display:none}
@media screen and (min-width:651px){.open, .close{display:none;}
}
@media only screen and (min-width:251px) and (max-width:650px){.open{padding:10px;display:block;transition:border .25s linear, color .25s linear, background-color .25s linear;}
.open:hover{background:#39C1EE;}
.close{background:#61cf81;padding:5px 15px;}
.toggle{cursor:pointer;color:#fff}
#menu{position:absolute;top:0;bottom:0;width:14em;background:#fff;z-index:9999;left:-14em;}
#menu{box-shadow:0px 0px 5px #868686;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition:-webkit-transform .25s ease;transition:transform .25s ease;-webkit-transform:translate3d(0,0,0)}
#nav-check:checked ~ #menu{-webkit-transform:translate(14em,0);-ms-transform:translate(14em,0);transform:translate(14em,0);}
}
@media only screen a
@-webkit-keyframes androidbugfix{from{padding:0}
to{padding:0}
}
*{margin:0;padding:0;outline:none;} */
body{max-width:750px;min-width:200px;margin:auto;position:relative;background-color:#3c7d724f;font-family:inherit;font-style:normal;font-size:12px;color:#595959;line-height:16px;overflow-x:hidden;-webkit-animation:androidbugfix infinite 1s;}
h1,
h2,
h3,
h4,
h5,
h6{font-size:small;}
h1 a{color:#595959;}
h1 a:hover{text-decoration:none;}
a{text-decoration:none;color:#2CAAD3;transition:border .25s linear, color .25s linear, background-color .25s linear;}
a:hover{text-decoration:underline;}
.clearfix{clear:both;}
.pad,
.tagcloud{padding:7px;}
.left{float:left;}
.right{float:right;}
.prefix{font-size:11.5px;background:hsl(127, 39%, 55%);color:hsl(0, 100%, 100%);padding:2px 2px;display:block;position:absolute;right:0;bottom:0;}
.readmore{background:#fff;margin-bottom:5px;}
.readmore a{display:block;text-decoration:none;}
.center-title{display:block;text-align:center;padding:7px;}
.green-title{background:#8dc63f!important;text-align:center;color:#fff!important;font-weight:700!important;border-top-left-radius:4px;border-top-right-radius:4px;}
.margin5{margin:5px;}
form{background:#fff;margin:5px;}
header{text-align:center;padding:10px 0 15px 10px;color:#fff;background-image:url("http://i.imgur.com/zUKqdVL.jpg");}
#head-menu{background:green;font-family:cursive;font-weight:bold;border-bottom:1px solid #e2e2e2;}
#head-menu a,
#head-menu a:hover{color:#FFF;display:block;padding:10px;}
#head-menu li:hover a{background:#39C1EE;text-decoration:none;}
article{position:relative;border-bottom:1px solid #e2e2e2;padding:7px;clear:both;background:#fff;}
article p{max-height:36px;display:block;overflow:hidden;line-height:18px;}
article a{color:#666;}
article a:hover{color:#2CAAD3;text-decoration:none;}
article:nth-child(even){background-color:#fcfcfc;}
article:nth-child(odd){}
.photo{width:50px;float:left;margin:0 8px 0 0;height:50px;border-radius:19%;}
.format-story h2,
.format-thuthuat h2,
.format-audio h2,
.format-video h2,
h2 i{font-weight:300;}
.format-thuthuat a{background:url(assets/images/icon_thuthuat.png) no-repeat left;padding-left:20px;margin-right:4px;}
.format-story a{background:url(assets/images/icon_story.png) no-repeat left;padding-left:20px;margin-right:4px;}
.format-story h2{font-style:italic;}
.format-image img{width:100%;}
.format-image h2{margin:5px 0;}
.format-video a{background:url(assets/images/icon_video.png) no-repeat left;padding-left:20px;margin-right:4px;}
.format-audio a{background:url(assets/images/icon_mp3.png) no-repeat left;padding-left:20px;margin-right:4px;}
#breadcrumbs,
.title{font-weight:700;color:#fff;background:#2CAAD3;padding:10px;cursor:default;display:block;}
#breadcrumbs a{color:#FFF;}
.infomation{position:relative;background:#fff;overflow:hidden;border-bottom:1px solid #e2e2e2;padding:7px;clear:both;}
.hreview-aggregate label,
.infomation label{font-weight:700;}
.average span{text-indent:-9000px;}
#video-player{border-top:1px solid #e2e2e2;position:relative;padding-bottom:56.25%;padding-top:25px;height:0;margin-bottom:20px;}
#video-player iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#mp3-player{padding-top:10px;padding-bottom:10px;}
audio{width:100%;}
#content{border-top:1px solid #e2e2e2;line-height:20px;background:#fff;}
#content p{margin-bottom:10px;}
#content img{max-width:100%;height:auto;display:block;margin-left:auto;margin-right:auto;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);}
#content ul,
ol{margin:0 20px;}
#content h2{font-size:14px;}
#wp_page a{background:#7e7e7e;padding:5px 15px;color:#fff;text-decoration:none;}
#wp_page a:hover{background:#1EB353;box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.31), 0 1px 0 rgba(255, 255, 255, 0.8);}
#wp_page .current{box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.31), 0 1px 0 rgba(255, 255, 255, 0.8);padding:5px 15px;color:#fff;background:#1EB353;}
.content-bottom{background:#fff;border-top:1px solid #eee;}
nav ul, .content-bottom ul{display:table;list-style:none;width:100%;table-layout:fixed;}
#head-menu li,
.content-bottom > ul > li{vertical-align:middle;display:table-cell;text-align:center;}
.content-bottom > ul > li{border-right:1px solid #EEEEEE;}
.content-bottom > ul > li:last-child{border:none;}
.content-bottom ul > li > a{text-decoration:none;padding:8px 3px;display:block;}
.content-bottom > ul > li:hover{background:#f2f2f2;transition:border .25s linear, color .25s linear, background-color .25s linear;}
.hreview-aggregate{overflow:hidden;background:#fff;border-top:1px solid #e2e2e2;padding:7px;}
.details{padding:0 !important;border-bottom:0 !important;}
.details .timeline{width:100%;}
.fun-story p,
.comment p,
.details p{max-height:none !important;}
.rating{margin-bottom:10px;}
span.post-large-rate{width:100px;display:block;height:22px;background-position:left bottom;background-repeat:no-repeat;}
span.post-large-rate span{width:100%;display:block;height:22px;background-position:left top;background-repeat:no-repeat;float:left;}
span.stars-large,
span.stars-large span{background-image:url(assets/images/stars-large.png);}
.post-single-rate{float:left;margin-right:5px;}
.user-rate{float:right;width:98px;}
.user-rate-wrap .user-rating-text{float:left;}
.user-rate-active span.post-large-rate span{cursor:pointer;}
.taq-load{background:url(assets/images/ajax-loader.gif) no-repeat center;width:98px;height:22px;display:block;}
.search-input{background:url(assets/images/search.png) no-repeat 99% 50% #fff;}
.search-button{width:14%;font-family:cursive;font-weight:bold;height:30%;padding:5px 10px;}
input,
textarea{width:100px;box-sizing:border-box;border:2px solid #ccc;border-radius:2px;font-size:12px;background-color:white;background-image:url('searchicon.png');background-position:5px 5px;background-repeat:no-repeat;padding:8px 10px 5px 20px;-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out;}
input[type=text]:focus{width:80%;}
button{background:#61cf81;padding:5px 10px;border:0;color:#fff;cursor:pointer;transition:border .25s linear, color .25s linear, background-color .25s linear;}
button:hover{background:#1EB353;box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.31), 0 1px 0 rgba(255, 255, 255, 0.8);}
.gsc-input{box-shadow:none !important;}
#___gcse_0{border-bottom:1px solid #e2e2e2;}
.download{max-width:350px;line-height:28px;color:#FFF;text-align:center;display:block;margin-left:auto;margin-right:auto;background:#00a1cb;font-size:15px;padding:0 25px;border-radius:3px;}
.download:hover{background:#00b5e5;text-decoration:none;}
.icon_download{background:#61cf81;border-radius:1px;float:right;padding:2px 10px;color:#fff;text-transform:uppercase;}
.icon_download:hover{background:#1EB353;text-decoration:none;color:#fff;}
.icon_view{background:url(assets/images/icon_view.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.icon_phone{background:url(assets/images/icon_phone.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.icon_user{background:url(assets/images/icon_user.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.icon_comment{background:url(assets/images/icon_comment.png) no-repeat center left;padding-left:17px;font-size:11px;margin-right:4px;}
.multi-download{max-width:350px;margin-left:auto;margin-right:auto;margin-bottom:5px;border:#8dc63f solid 1px;border-top:0;border-top-left-radius:4px;border-top-right-radius:4px;}
.multi-download ul{margin:0!important;}
.multi-download li{padding:4px 10px!important;}
.multi-download p{margin-bottom:0 !important;}
.multi-download a{color:#2CAAD3!important;}
.bonobo_widget{margin-bottom:10px;border:1px solid #e2e2e2;overflow:hidden;padding:15px;line-height:21px;text-align:center;}
.bonobo_widget .city_title{font-size:18px;font-weight:bold;}
.bonobo_widget {text-align:center;padding-top:10px;padding-bottom:17px;}
.bonobo_widget .temperature{font-size:24px;padding-bottom:17px;}
.bonobo_widget .desc{list-style:none;}
.bonobo_widget .desc li{list-style:none !important;line-height:1em !important;}
.bonobo_widget .left_navigation{float:left;width:24px;padding-right:4px;}
.bonobo_widget .right_navigation{float:right;width:24px;padding-left:4px;}
.bonobo_widget .invisible{display:none;}
.bonobo_widget .date{font-size:12px;font-style:italic;}
.bonobo_widget .number_date{font-weight:lighter;}
.bonobo_widget img{box-shadow:none !important;}
footer{border-top:#253444 solid 3px;text-align:center;color:#fff;background:#99d6f9;background:radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .15) 30%, rgba(255, 255, 255, .3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .1) 11%, rgba(255, 255, 255, .3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 17%, rgba(255, 255, 255, .43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 11%, rgba(255, 255, 255, .4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 11%, rgba(255, 255, 255, .4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .1) 11%, rgba(255, 255, 255, .2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #79C7EE 20%, #99d6f9 100%);background-size:100px 100px, 470px 470px, 210px 210px, 310px 310px, 230px 230px, 530px 530px, 100% 100%;}
footer a{color:#fff;}
.nav_menu ul li{border-bottom:1px solid #e2e2e2;font-size:13px;padding:8px 35px 8px 8px;list-style:none;background:#fff;}
.nav_menu a{text-decoration:none !important;color:#666;}
.nav_menu a:hover{color:#2CAAD3;}
.count{background:#39C1EE;color:#fff;padding:1px 10px;}
#nav-check{display:none}
@media screen and (min-width:651px){.open, .close{display:none;}
}
@media only screen and (min-width:251px) and (max-width:650px){.open{padding:10px;display:block;transition:border .25s linear, color .25s linear, background-color .25s linear;}
.open:hover{background:#39C1EE;}
.close{background:#61cf81;padding:5px 15px;}
.toggle{cursor:pointer;color:#fff}
#menu{position:absolute;top:0;bottom:0;width:14em;background:#fff;z-index:9999;left:-14em;}
#menu{box-shadow:0px 0px 5px #868686;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition:-webkit-transform .25s ease;transition:transform .25s ease;-webkit-transform:translate3d(0,0,0)}
#nav-check:checked ~ #menu{-webkit-transform:translate(14em,0);-ms-transform:translate(14em,0);transform:translate(14em,0);}
}
@media only screen and (max-width:250px){.photo{display:none!important;}
.title{background:#2CAAD3;padding:4px;}
.details{display:none !important;}
#head-menu a,
#head-menu a:hover{padding:6px;}
.icon_view,
.icon_comment,
.icon_download,
.open,
.close{display:none!important;}
}
/*nd (max-width:250px){.photo{display:none!important;}
.title{background:#2CAAD3;padding:4px;}
.details{display:none !important;}
#head-menu a,
#head-menu a:hover{padding:6px;}
.icon_view,
.icon_comment,
.icon_download,
.open,
.close{display:none!important;}
}*/
#24hgame_clock{color:lightblue;text-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;font-weight:bold}
popup{position:relative;display:inline-block;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#snackbar{visibility:hidden;min-width:250px;margin-left:-125px;background-color:#333;color:#fff;text-align:center;border-radius:2px;padding:16px;position:fixed;z-index:1;left:50%;bottom:30px;font-size:17px;}
#snackbar.show{visibility:visible;-webkit-animation:fadein 0.5s, fadeout 0.5s 6.5s;animation:fadein 0.5s, fadeout 0.5s 6.5s;}
@-webkit-keyframes fadein{from{bottom:0;opacity:0;}
to{bottom:30px;opacity:1;}
}
@keyframes fadein{from{bottom:0;opacity:0;}
to{bottom:30px;opacity:1;}
}
@-webkit-keyframes fadeout{from{bottom:30px;opacity:1;}
to{bottom:0;opacity:0;}
}
@keyframes fadeout{from{bottom:30px;opacity:1;}
to{bottom:0;opacity:0;}
}
.c7pmc{position:relative;display:inline-block;}
.c7pmc .c7pmctext{visibility:hidden;width:120px;background-color:black;color:#fff;text-align:center;border-radius:6px;padding:5px 0;position:absolute;z-index:1;top:-5px;left:105%;}
.c7pmc:hover .c7pmctext{visibility:visible;}
/*.modal{display:none;position:fixed;z-index:1;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);}
.modal-content{position:relative;background-color:#fefefe;margin:auto;padding:0;border:1px solid #888;width:60%;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name:animatetop;-webkit-animation-duration:0.4s;animation-name:animatetop;animation-duration:0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0}
to{top:0;opacity:1}
}
@keyframes animatetop{from{top:-300px;opacity:0}
to{top:0;opacity:1}
}
.close{position:absolute;right:25px;top:1;color:black;font-size:35px;font-weight:bold;}
.close:hover,
.close:focus{color:red;cursor:pointer;}
.modal-header{padding:2px 16px;background-color:green;color:white;}
.modal-body{padding:2px 16px;}
.modal-footer{padding:2px 16px;background-color:blueviolet;color:white;}*/
#btndl{position:absolute;right:3%;width:75px;height:30px;top:75%;text-align:center;}
.btn-info{font-family:monospace;color:aliceblue;font-weight:bold;background-color:green}
#pmcdetect{background-color:greenyellow;height:35px;color:red;font-weight:bold;}
.btn-warning{background:greenyellow;border:none;color:blueviolet;font-weight:bold;}
#listbt{list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:green;}
.a{float:left;}
.a a{display:block;color:white;text-align:center;padding:14px 16px;text-decoration:none;}
.a a:hover{background-color:#111;}
.alignnone{width:300px;height:auto;display:block;margin-left:auto;margin-right:auto;}
.fixed{position:fixed;bottom:0;right:0;width:300px;border:3px solid #73AD21;}
.affix{position:fixed;top:0px;z-index:9999 !important;background-color:white;max-width:450px;min-width:320px;margin:auto;}
#logo:hover{-webkit-transform:rotateZ(90deg);transform:rotateZ(360deg);}
/*.modal{display:none;position:fixed;z-index:2;padding-top:300px;left:0;top:0;width:350px;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);}
.modal-content{position:relative;background-color:#fefefe;margin:auto;padding:0;border:1px solid #888;width:80%;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name:animatetop;-webkit-animation-duration:0.4s;animation-name:animatetop;animation-duration:0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0}
to{top:0;opacity:1}
}
@keyframes animatetop{from{top:-300px;opacity:0}
to{top:0;opacity:1}
}
.close{color:white;float:right;font-size:28px;font-weight:bold;}
.close:hover,
.close:focus{color:#000;text-decoration:none;cursor:pointer;}
.modal-header{padding:2px 16px;background-color:#5cb85c;color:white;}
.modal-body{padding:2px 16px;}
.modal-footer{padding:2px 16px;background-color:#5cb85c;color:white;}*/
#zaloshareinlineclient_app{position:fixed;}
#app{background-color:white;width:600px;height:auto;}
@media only screen and (max-width:500px){body{display:block;max-width:480px;min-width:200px;margin:auto;position:relative;background:whiteâ€¬;font-family:inherit;font-style:normal;font-size:12px;color:#595959;line-height:16px;overflow-x:hidden;-webkit-animation:androidbugfix infinite 1s;}
#app{background-color:white;width:320px;margin:auto;}.size-medium{width:350px;height:auto;margin:auto;}
.affix{position:fixed;top:0px;z-index:9999 !important;background-color:white;max-width:200px;margin-left:20px;}

}
@media (orientation: portrait){
     body{
         background-color:#67d09d;
         max-width:450px;
         min-width:200px;
     }
       h2{
          color: #160d42e3;
          text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
     }
     #btndl{
         color:#f5f5f5;
         text-shadow:1px 1px 2px #ddd, 0 0 25px blue, 0 0 5px darkblue;
     }
 }
 @media(orientation:landscape){
     body{
         background-color:yellowgreen;
         max-width:950px;
         min-width:450px;
     }
      h2{
          color: #40fff7;
         text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
     }
    #btndl{
         color:#eee;
         text-shadow:1px 1px 2px #732222, 0 0 25px #6161dc, 0 0 5px darkblue;
     }
 } 
